@import "../styles/_variables.scss";
@import "../styles/_keyframe-animations.scss";

@import "tailwindcss";

body {
  height: 100vh;
}
.tiptap {
  flex: 1;
}

.tiptap:focus-visible {
  outline: none;
}
